#========================================
# Common settings
#========================================
spring:
  application:
    name: api-service-case-data
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    password: ${config.datasource.password}
    url: ${config.datasource.url}
    username: ${config.datasource.username}
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      client:
        provider:
          parkingpermit:
            token-uri: ${config.parkingpermit.token-url}
          landandexploitation:
            token-uri: ${config.landandexploitation.token-url}
          email-reader:
            token-uri: ${config.email-reader.token-url}
          web-message-collector:
            token-uri: ${config.web-message-collector.token-url}
          employee:
            token-uri: ${config.employee.token-url}
          message-exchange:
            token-uri: ${config.message-exchange.token-url}
          messaging:
            token-uri: ${config.messaging.token-url}
          messaging-settings:
            token-uri: ${config.messaging-settings.token-url}
          relation:
            token-uri: ${config.relation.token-url}
          paratransit:
            token-uri: ${config.paratransit.token-url}
          eventlog:
            token-uri: ${config.eventlog.token-url}
        registration:
          parkingpermit:
            authorization-grant-type: client_credentials
            provider: parkingpermit
            client-id: ${config.parkingpermit.client-id}
            client-secret: ${config.parkingpermit.client-secret}
          landandexploitation:
            authorization-grant-type: client_credentials
            provider: landandexploitation
            client-id: ${config.landandexploitation.client-id}
            client-secret: ${config.landandexploitation.client-secret}
          email-reader:
            authorization-grant-type: client_credentials
            provider: email-reader
            client-id: ${config.email-reader.client-id}
            client-secret: ${config.email-reader.client-secret}
          web-message-collector:
            authorization-grant-type: client_credentials
            provider: web-message-collector
            client-id: ${config.web-message-collector.client-id}
            client-secret: ${config.web-message-collector.client-secret}
          employee:
            authorization-grant-type: client_credentials
            provider: employee
            client-id: ${config.employee.client-id}
            client-secret: ${config.employee.client-secret}
          message-exchange:
            authorization-grant-type: client_credentials
            provider: message-exchange
            client-id: ${config.message-exchange.client-id}
            client-secret: ${config.message-exchange.client-secret}
          messaging:
            authorization-grant-type: client_credentials
            provider: messaging
            client-id: ${config.messaging.client-id}
            client-secret: ${config.messaging.client-secret}
          messaging-settings:
            authorization-grant-type: client_credentials
            provider: messaging
            client-id: ${config.messaging-settings.client-id}
            client-secret: ${config.messaging-settings.client-secret}
          relation:
            authorization-grant-type: client_credentials
            provider: message-exchange
            client-id: ${config.relation.client-id}
            client-secret: ${config.relation.client-secret}
          paratransit:
            authorization-grant-type: client_credentials
            provider: paratransit
            client-id: ${config.paratransit.client-id}
            client-secret: ${config.paratransit.client-secret}
          eventlog:
            authorization-grant-type: client_credentials
            provider: eventlog
            client-id: ${config.eventlog.client-id}
            client-secret: ${config.eventlog.client-secret}
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: -1
#----------------------------------------
# Open API
#----------------------------------------
openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'

springdoc:
  swagger-ui:
    operationsSorter: alpha

#----------------------------------------
# Integration settings
#----------------------------------------
integration:
  parkingpermit:
    base-url: ${config.parkingpermit.base-url}
    connectTimeout: 5
    readTimeout: 20
    supported-namespaces:
      - SBK_PARKING_PERMIT
      - ANGE_PARKING_PERMIT
  landandexploitation:
    base-url: ${config.landandexploitation.base-url}
    connectTimeout: 5
    readTimeout: 20
    supported-namespaces:
      - SBK_MEX
  web-message-collector:
    base-url: ${config.web-message-collector.base-url}
    connectTimeout: 5
    readTimeout: 20
  email-reader:
    base-url: ${config.email-reader.base-url}
    connectTimeout: 5
    readTimeout: 30
    municipality-id: ${config.email-reader.municipality-id}
    namespace: ${config.email-reader.namespace}
  employee:
    base-url: ${config.employee.base-url}
    connectTimeout: 5
    readTimeout: 20
  message-exchange:
    base-url: ${config.message-exchange.base-url}
    connectTimeout: 5
    readTimeout: 20
  messaging:
    base-url: ${config.messaging.base-url}
    connectTimeout: 5
    readTimeout: 20
  messaging-settings:
    base-url: ${config.messaging-settings.base-url}
    connectTimeout: 5
    readTimeout: 20
  relation:
    base-url: ${config.relation.base-url}
    connectTimeout: 5
    readTimeout: 20
  paratransit:
    base-url: ${config.paratransit.base-url}
    connectTimeout: 5
    readTimeout: 20
  eventlog:
    base-url: ${config.eventlog.base-url}
    connectTimeout: 5
    readTimeout: 20

#----------------------------------------
# Circuit breakers
#----------------------------------------
resilience4j:
  circuitbreaker:
    instances:
      parkingpermit:
        ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
      landandexploitation:
        ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
      relation:
        ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
      paratransit:
        ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
      eventlog:
        ignoreExceptions: se.sundsvall.dept44.exception.ClientProblem
    configs:
      default:
        ignore-exceptions: org.springframework.data.mapping.PropertyReferenceException
server:
  tomcat:
    relaxed-query-chars: '[,]'

#----------------------------------------
# Logbook
#----------------------------------------
logbook:
  body-filters:
    json-path:
      - key: '$..file'
        value: '[base64]'
      - key: '$..content'
        value: '[base64]'

#----------------------------------------
# Spring-filter settings
#----------------------------------------
turkraft:
  springfilter:
    offsetdatetimeformatter:
      pattern: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
#----------------------------------------
# Scheduler settings
#----------------------------------------
scheduler:
  message-collector:
    name: message-collector
    cron: 0 */1 * * * *
    shedlock-lock-at-most-for: PT2M
    maximum-execution-time: PT1M
  emailreader:
    name: emailreader
    cron: 0 */1 * * * *
    shedlock-lock-at-most-for: PT2M
    maximum-execution-time: PT1M
  suspension:
    name: process_suspensions
    cron: 0 */15 * * * *
    shedlock-lock-at-most-for: PT4M
    maximum-execution-time: PT2M
  notification:
    name: process_notifications
    cron: 0 0 0 * * *
    shedlock-lock-at-most-for: PT4M
    maximum-execution-time: PT2M
  messageexchange:
    name: message_exchange
    cron: 0 */1 * * * *
    shedlock-lock-at-most-for: PT2M
    maximum-execution-time: PT1M
